.header-QuestionPage {
	display: flex;
	justify-content: space-between;
	margin: 3.2rem 3.2rem 3.4rem 3.2rem;
}

.wrapper-centredContent--QuestionPage {
	display: flex;
	justify-content: center;
}

.wrapper-widthContent--QuestionPage {
	width: 81.2rem;
}

.body-QuestionPage > :not(:last-child) {
	margin-bottom: 2.7rem;
}

.body-QuestionPage {
	margin-bottom: 3.6rem;
}

.footer-QuestionPage {
	display: flex;
	justify-content: flex-end;
}

.heading--QuestionPage {
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 50px;
	letter-spacing: 0.4px;
	color: #323232;
	margin-left: 4rem;
	margin-bottom: 3.6rem;
}
