input[type="radio"] {
	display: none;
}

.radioButton-field--radioButton {
	display: flex;
	align-items: center;
}

.radioButton-field--radioButton > :first-child {
	margin-right: 1.2rem;
}

.radioButton-container--radioButton {
	display: flex;
	height: 2rem;
	width: 2rem;
	border: 0.1rem solid #484848;
	border-radius: 50%;
}

.checked-icon--radioButton {
	display: inline-block;
	height: 1.8rem;
	width: 1.8rem;
	border: 0.2rem solid white;
	border-radius: 50%;
}
