@import "../../../assets/styles/foundations.scss";

.contentWrapper {
	width: auto;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 3.2rem 6.4rem 0;

	&__body {
		margin: 4.8rem 0;

		.container {
			margin-bottom: 4rem;

			& :first-child {
				margin-bottom: 2.4rem;
			}

			h2 {
				font-weight: bold;
				font-size: 24px;
				line-height: 28px;
				letter-spacing: 0.4px;
			}

			p {
				font-weight: normal;
				font-size: 16px;
				line-height: 22px;
				color: $neutral-6;
			}
		}
	}
}
