@import "../../../../../../assets/styles/foundations.scss";

.active,
.default {
	height: 1rem;
	width: 1rem;

	i {
		height: inherit;
		width: inherit;
	}
}

.active {
	circle {
		fill: $neutral-4;
	}
}

.default {
	circle {
		fill: $neutral-1;
	}
}
