@import "../../../assets/styles/foundations.scss";

.container {
	padding: 4.4rem 4rem;
	border: 0.1rem solid $neutral-2;
	border-radius: 0.4rem;

	font-style: normal;
	font-size: 16px;
	line-height: 22px;

	& > :first-child {
		margin-bottom: 0.8rem;
	}

	& > :last-child {
		margin-top: 2.8rem;
	}

	&__question {
		font-weight: 500;
		color: $neutral-6;
	}

	&__description {
		color: $neutral-4;
	}
}

.error {
	border: 0.15rem solid $red;
}
