.zoom-controller-button {
	height: 4.4rem;
	width: 4.4rem;
}

.zoom-controller-button:hover {
	background-color: #484848;
}

.zoomOutIcon-inactive {
	content: url(../../../utils/img/zoom-out-icon-inactive.png);
}

.resetZoomIcon-inactive {
	content: url(../../../utils/img/reset-zoom-icon-inactive.png);
}

.zoomInIcon-inactive {
	content: url(../../../utils/img/zoom-in-icon-inactive.png);
}

.zoomOutIcon-active {
	content: url(../../../utils/img/zoom-out-icon-active.png);
}

.resetZoomIcon-active {
	content: url(../../../utils/img/reset-zoom-icon-active.png);
}

.zoomInIcon-active {
	content: url(../../../utils/img/zoom-in-icon-active.png);
}
