.arrowIcon-left,
.arrowIcon-right {
	content: url(../../utils/img/arrow-icon.png);
}

.arrowIcon-left {
	transform: rotate(180deg);
}

.carouselArrow-left,
.carouselArrow-right {
	display: flex;
	height: 4.8rem;
	width: 4.8rem;
	border-radius: 0.4rem;
}

.light--carouselArrow {
	background-color: #d1d1d9;
}

.light--carouselArrow:hover {
	background-color: #6b6b6c;
}

.dark--carouselArrow {
	background-color: #6b6b6c;
}

.dark--carouselArrow:hover {
	background-color: #484848;
}
