.carouselArrow-left {
	left: 0;
}

.carouselArrow-right {
	right: 0;
}

.carouselArrow-left,
.carouselArrow-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}
