.grid-container--welcomePage {
  height: 100vh;
  display: grid;
  grid-template:
    minmax(4.8rem, 13.6rem)
    minmax(52.9rem, 106.8rem)
    minmax(4.8rem, 13.6rem) /
    minmax(10.4rem, 18.8rem)
    minmax(119.8rem, 226rem)
    minmax(6.4rem, 11.2rem);
}

.centered-content--welcomePage {
  width: 100%;
  height: 100%;
  grid-area: 2/2/3/3;
}

.grid-content-welcomePage {
  display: grid;
  grid-template-columns:
    minmax(43.6rem, 66.8rem)
    minmax(4.4rem, 13.6rem)
    minmax(71.8rem, 145.6rem);
}

.centered-sideContainer--welcomPage {
  height: 100%;
  display: flex;
  align-items: center;
  color: #323232;
}

.imgContainer--welcomPage {
  height: 100%;
  grid-area: 1/3/2/4;
  background-color: #c4c4c4;
}

.sideContainer-header--welcomPage {
  font-size: 78px;
  line-height: 74px;
  letter-spacing: 1px;
  margin: 0;
}

.sideContainer-body--welcomPage {
  margin-top: 4rem;
}

.sideContainer-body--welcomPage p {
  font-size: 24px;
  line-height: 29px;
}

.sideContainer-footer--welcomPage {
  margin-top: 4rem;
}

@media screen and (max-width: 2442px) {
  .sideContainer-header--welcomPage {
    font-size: 48px;
    line-height: 50px;
  }
  .sideContainer-body--welcomPage p {
    font-size: 18px;
    line-height: 22px;
  }
}
