.main-container--photoModal {
	display: grid;
	grid-template-rows:
		minmax(5.3rem, 6.4rem)
		minmax(51.9rem, 121.2rem)
		minmax(5.3rem, 6.4rem);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(50, 50, 50, 0.65);
	backdrop-filter: blur(0.4rem);
	z-index: 50;
}

/* .grid-container--photoModal {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns:
		minmax(14rem, 19.2rem)
		minmax(108.6rem, 217.6rem)
		minmax(14rem, 19.2rem);
	margin: auto;
} */

.img-container--photoModal {
	grid-area: 2/1/3/2;
	display: flex;
	width: 100%;
}

.img-container--photoModal > :first-child {
	height: 100%;
	margin: auto;
	box-shadow: 0px 0px 25px 7px rgba(50, 50, 50, 0.15);
}

.img-container--photoModal > :first-child :first-child {
	height: 100%;
}

.wrapper-relative--photoModal {
	position: relative;
}

.leftArrow-position--photoModal,
.rightArrow-position--photoModal {
	z-index: 100;
}

.leftArrow-position--photoModal {
	left: 4.8rem;
}

.rightArrow-position--photoModal {
	right: 4.8rem;
}

.closeIcon {
	margin: auto;
	content: url(../../utils/img/close-icon.png);
}

.close-button--photoModal {
	position: absolute;
	display: flex;
	height: 4.8rem;
	width: 4.8rem;
	right: 4.8rem;
	bottom: 0;
	border-radius: 0.4rem;
	background: rgba(122, 122, 122, 0.4);
}

.wrapper-zoomController--photoModal {
	position: relative;
	display: flex;
	height: 8rem;
}

.zoomController-container--photoModal {
	position: absolute;
	display: flex;
	top: 0;
	left: calc(100vw - 50%);
	transform: translateX(-50%);
	background-color: #6b6b6c;
	border-radius: 0.4rem;
}

.zoomController-container--photoModal > :first-child {
	border-radius: 0.4rem 0 0 0.4rem;
}

.zoomController-container--photoModal > :last-child {
	border-radius: 0 0.4rem 0.4rem 0;
}

.close-button--photoModal {
	z-index: 100;
}

.close-button--photoModal:hover {
	background-color: #484848;
}
